.toggle {
  position: relative;
//   padding: 8px 16px;
}

.toggle {
  display: inline-flex;
  color: rgb(178, 177, 177);
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.toggle::before,
.toggle span {
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-duration: 0.4s;
}

.toggle:hover {
  background-color: #ffffff4d;
}

.toggle:hover span {
  transform: translateY(-400%);
}

.more::before {
  content: "Show more";
  padding-left: 3.5rem;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(500%);
}

.less::before {
  content: "Show less";
  padding-left: 3.5rem;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(500%);
}

.toggle:hover::before {
  transform: translateY(0) scale(1, 1);
}
