.team{
    display: flex;
            
    align-items: center;
    justify-content: center;
    .content{
        // border: 1px solid red;
        width: 1000px;
        .member{
            .list-members{
                display: flex;
                flex-wrap: wrap;
                .member-item{
                    background-color: #f1f1f1;
                    width: 170px;
                    margin: 10px 10px 10px 0;
                    text-align: center;
                    line-height: 50px;
                    // font-size: 30px;
                }
            };


        };
        .title{
            border-bottom: 1px solid red;
            padding: 10px 0
        };

    }
}